/* Default setting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul li {
  list-style-type: none;
}

/* button { border: none; } */

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
}

/* Header section */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
}

.header > .header__logo {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  padding: 14px 0;
}

.header > .desktop {
  display: none;
}

.header > .header__menu-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-btn > .menu-btn__ham {
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background: #6070ff;
}

.menu-btn__ham::before,
.menu-btn__ham::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: #6070ff;
  border-radius: 2px;
}

.menu-btn__ham::before {
  transform: translateY(-5px);
}

.menu-btn__ham::after {
  transform: translateY(5px);
}

/* headline section */

main {
  background-color: #e5e5e5;
}

.main {
  background-image: url("/images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 114px 0;
  background-color: #fff;
}

main > .main {
  border-radius: 0 0 0 100px;
  width: 100%;
}

.main > .headline-section__box,
.work-section > .work-section__box,
.about-section > .about-section__upper,
.contact-form-section > .contact-form__container {
  padding: 18px 24px;
}

.main > .headline-section__box {
  display: flex;
  flex-direction: column;
}

form > * + * {
  margin-top: 20px;
}

.headline-section__box > * + * {
  margin-top: 12px;
}

.headline-section__box > .headline-section__title,
.headline-sec > .headline-section__title,
.outro__box > .healine-section__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-style: normal;
}

.headline-section__box > .headline-section__desc,
.headline-sec > .headline-section__desc,
.outro__box > .headline-section__desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.headline-section__sub-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7f8cff;
  line-height: 24px;
  font-size: 16px;
}

.headline-section__social {
  list-style: none;
  display: flex;
}

.headline-section__social > * + * {
  margin-left: 19px;
}

.headline-section__social > .social-icon {
  cursor: pointer;
}

/* work-section */

.work-section > .work-section__box {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 88px;
  margin: 88px 0;
}

.work-section > * + * {
  margin-top: 88px;
}

.work-section__card {
  padding: 16px 16px 28px 16px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  align-items: center;
}

.work-section__card > .desktop {
  display: none;
}

.work-section__card--info > * + * {
  margin-top: 12px;
}

.work-section__card--info > .project-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  color: #172b4d;
  font-size: 32px;
  word-wrap: break-word;
}

.work-section__card--info > .range {
  display: flex;
  align-items: center;
  height: 30px;
}

.range > * + * {
  margin-left: 12px;
}

.range > .desktop {
  display: none;
}

.range > .range__circle {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
  margin-bottom: 10px;
}

.range > .range__canopy {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.range > .range__txt {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.work-section__card--info > .desktop {
  display: none;
}

.work-section__card--info > .general__desc {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-section__card--info > .tech {
  display: flex;
}

.tech > * + * {
  margin-left: 8px;
}

.tech > .tech__type {
  padding: 4px 12px;
  border: none;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 16px;
}

button {
  transition: all 0.5s ease;
}

button:hover {
  background: #6070ff;
  color: #fff !important;
}

.btn {
  border: 1px solid #6070ff !important;
  border-radius: 16px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-align: center;
  background: none;
  color: #6070ff;
}

.work-section__card--info > .btn {
  margin-top: 20px;
}

/* ---about section---- */

.about-section {
  border-radius: 0 100px 0 0;
  background-color: #fff;
}

.about-section > .about-section__upper {
  display: flex;
  flex-direction: column;
  padding-top: 142px;
  padding-bottom: 142px;
}

.headline-sec > .resume {
  width: 50%;
  margin: 22px 0 48px;
}

.language-section > .language-section__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.language-section > .language-section__title:not(:first-child) {
  border-bottom: 1px solid #dfe1e6;
}

.language-section__title > h4 {
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #000;
}

.language-section__title.open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.drop-down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 23px 8px;
  font-size: 20px;
  line-height: 24px;
  background-color: #fff;
}

.drop-down > .glyphicon {
  font-size: 16px;
  color: #acb7c3;
}

.language-section__box-sec {
  display: flex;
  flex-direction: column;
  margin: 36px 0;
  align-items: stretch;
}

.language-section__box-sec > * + * {
  margin-top: 12px;
}

.language-section__box-sec > .language-section__box {
  display: flex;
  align-items: center;
  width: 100%;
}

.language-section__box > * + * {
  margin-left: 16px;
}

.language-section__box > p {
  margin-bottom: 0;
}

/* contact-form */

.contact-form-section {
  background-color: #6070ff;
  background-image: url("./images/contact\ form\ shapes-mobile.svg");
  background-repeat: no-repeat;
  border-radius: 80px 0 0 0;
  background-position-x: 100%;
  background-position-y: 30px;
}

.contact-form__container > .outro__box {
  text-align: center;
}

.white {
  color: #fff !important;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

form > label {
  width: 100%;
}

label > input,
textarea {
  width: 100%;
  padding: 15px 16px;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

textarea {
  margin-top: 20px !important;
}

.btn__submit > button {
  padding: 12px 16px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: #6070ff;
  background-color: #fff;
  border-radius: 8px;
  border: none;
}

.btn__submit > button:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #fff;
}

/* tablet version */

@media screen and (min-width: 768px) {
  .headline-section > .headline-section__box {
    max-width: 600px;
    margin: 0 auto;
  }

  .work-section__box > .work-section__card {
    flex-direction: row;
  }

  .work-section__card > .work-section__card--img {
    flex: 1;
    text-align: center;
  }

  .work-section__card > .work-section__card--info { flex: 1; }

  .about-section > .about-section__upper {
    max-width: 600px;
    margin: 0 auto;
  }

  .language-section__box-sec { flex-direction: row; }

  .language-section__box-sec > * + * {
    margin-left: 12px;
    margin-top: 0;
  }

  .language-section__box-sec > .language-section__box {
    height: 120px;
    width: 120px;
    flex-direction: column;
    background-color: #f7f7f9;
    align-items: flex-start;
    padding: 12px;
  }

  .contact-form-section > .contact-form__container {
    max-width: 600px;
    margin: 0 auto;
  }
}

/* desktop media query */

@media screen and (min-width: 1024px) {
  .header {
    padding: 10px 12px;
    margin: 15px 154px;
    display: flex;
    align-items: center;
  }

  .header > .mobile {
    display: none;
  }

  .header > .desktop {
    display: block;
  }

  .desktop--nav {
    transform: translateY(50%);
  }

  .desktop--nav > ul {
    display: flex;
    transform: translateY(-50%);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    text-align: center;
  }

  .desktop--nav > ul > li + li {
    margin-left: 32px;
  }

  .main {
    background-image: url("./images/Header-bg-desktop.png");
  }

  .main > .headline-section__box {
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
    animation: 0.75s 1 alternate slider;
  }

  @keyframes slider {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .outro__box > .headline-section__title {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
  }

  .headline-sec > .headline-section__title,
  .main > .headline-section__box > .headline-section__title {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .outro__box > .headline-section__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .headline-sec > .headline-section__desc,
  .main > .headline-section__box > .headline-section__desc {
    font-size: 20px;
    line-height: 28px;
  }

  .work-section {
    padding: 142px;
  }

  .work-section > .work-section__box {
    margin: 0;
    padding: 0;
  }

  .work-section__card {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    max-width: 1156px;
    margin: 0 auto;
    align-items: stretch;
  }

  .work-section__card > .mobile {
    display: none;
  }

  .work-section__card > .desktop {
    display: block;
  }

  .work-section__card > .order--two {
    order: 2;
    align-self: flex-start;
  }

  .work-section__card > .work-section__card--info {
    padding: 24px;
  }

  .work-section__card--info > .project-name {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 52px;
  }

  .work-section__card--info > .mobile {
    display: none;
  }

  .work-section__card--info > .desktop {
    display: block;
  }

  .range > .range__canopy {
    font-size: 18px;
    line-height: 24px;
    margin-left: 0;
  }

  .range > .mobile {
    display: none;
  }

  .range > .range__txt {
    font-size: 18px;
    line-height: 24px;
  }

  .range > .desktop {
    display: block;
  }

  .work-section__card--info > .general__desc {
    font-size: 16px;
    line-height: 24px;
  }

  .about-section > .about-section__upper {
    flex-direction: row;
    max-width: 1156px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .about-section__upper > .headline-sec {
    width: 45%;
    padding-right: 22px;
  }

  .headline-sec > .headline-section__sub-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .about-section__upper > .language-section {
    width: 55%;
  }

  .language-section__box-sec {
    flex-direction: row;
  }

  .language-section__box-sec > * + * {
    margin-left: 12px;
    margin-top: 0;
  }

  .language-section__box-sec > .language-section__box {
    height: 120px;
    width: 120px;
    flex-direction: column;
    background-color: #f7f7f9;
    align-items: flex-start;
    padding: 12px;
  }

  .language-section__box > * + * { margin-top: 16px; }

  .language-section__box > p {
    margin-left: 0;
  }

  .headline-sec > .btn {
    width: 30%;
    padding: 12px;
  }

  .contact-form-section {
    background-image: url("./images/Card-images/contactformbackgroundshapes@2x.png");
    padding-top: 10px;
    background-position: center;
  }

  .contact-form-section > .contact-form__container {
    max-width: 569px;
    margin: 113px auto;
    padding-bottom: 70px;
  }

  .contact-form__container > form {
    max-width: 447px;
    margin: 50px auto;
  }

  .btn__submit {
    text-align: center;

  }
}
